<h1>Enlaces</h1>
<p class="lead">En las charlas y en la documentación de Rails-Girls Madrid, nos hicieron llegar muchos enlaces los pongo aquí para que no se pierdan:</p>
<h2>Comunidad Ruby on Rails Madrid</h2>